main {
    display: flex;
    justify-content: center;
    position: relative;



    margin: 0 auto;
    margin-top: 15px;
    width: 1000px;
    height: 500px;
}

main .img-main {
    display: flex;
    align-self: flex-start;

    width: 1000px;
    height: 500px;
}

.text-main {
    display: flex;
    flex-direction: column;
    align-self: end;
    position: absolute;
    left: 0;

    justify-content: space-around;



    width: 320px;
    height: 295px;

    background-color: white;

}

.text-main .apresentação {
    margin-bottom: 33px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 100% */

    letter-spacing: -0.446429px;

    color: #33323D;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: #203A4C;

    width: 200px;
    height: 48px;
}

.quadrado-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    background-color: #1b303f;
}

.text-button {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;

    color: white;

}

.about-me {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin: 0 auto;
    width: 1000px;
    height: 500px;
    margin-top: 90px;


}

.text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 20px;

    position: relative;
    right: 7%;


    width: 400px;
    height: 400px;

}

.text-about p {

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 188% */


    color: #33323D;
}

.button-portifolio {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;

    width: 204px;
    height: 98px;





    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 1px;

    border: 1px solid #33323D;

}